{{ define "main" }}
<main class="main-content">
  <article class="about-article">
    <h1>{{ .Title }}</h1>

    <div class="content-wrapper">
      <div class="software">
        {{ .Content }}
      </div>
    </div>
      <div class="projects">
        {{range .Pages}}
        <div class="project-entry">
          <div class="project-title">
            <p>{{.Params.title}}</p>
          </div>
          <div class="project-description">
            <p>{{.Params.desc}}</p>
          </div>
          <div class="project-links">
            {{range .Params.links}}
            <a href="{{.url}}">{{.text}}</a>
            {{end}}
          </div>
        </div>
        {{end}}
      </div>
  </article>
</main>
{{ end }}


