:root {
  --bg-color: #232126;
  --sidebar-bg: #3C3A44;
  --text-color: #E9EDE8;
  --link-color: #bdbdee;
  --border-color: #4C5764;
  --border-button-color: #808080;
  --accent-blue: #0096fa;
  --font-main: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* ===== HEADER ===== */
.site-header {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  padding: 10px 20px;
}

.site-logo {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-right: 12px;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

/* ===== LAYOUT ===== */
.layout {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 220px;
  background-color: var(--sidebar-bg);
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  margin-right: 24px;
  height: auto; /* grows only to content */
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-nav a {
  display: block;
  padding: 8px 12px;
  color: var(--text-color);
  text-decoration: none;
  border: 1px solid var(--border-button-color);
  border-radius: 4px;
  margin-bottom: 8px;
  transition: background 0.2s;
}

.sidebar-nav a:hover {
  background-color: #3b3943;
}

/* ===== EXTERNAL LINKS ===== */
.sidebar-links {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sidebar-links a {
  display: block;
  padding: 8px 10px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

/* ===== MAIN CONTENT ===== */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: var(--sidebar-bg);
  border: 1px solid var(--border-color);
}



/* ==== ABOUT PAGE ==== */
.content-wrapper {
  display: flex;
  flex-direction: horizontal;
  align-items: flex-start; /* keeps the top of text and image aligned */
  gap: 2rem; /* space between text and image */
}

.about-image {
  max-width: 250px; /* adjust as needed */
  height: auto;
  border-radius: 10px; /* optional: rounded corners */
  object-fit: cover;
}
