:root {
  --bg-color: #232126;
  --sidebar-bg: #3C3A44;
  --text-color: #E9EDE8;
  --link-color: #bdbdee;
  --border-color: #4C5764;
  --border-button-color: #808080;
  --accent-blue: #0096fa;
  --font-main: "Inter", sans-serif;
  --link-color: #bdbdee;
  --link-color-hover: #d4d6ff;
  --link-color-active: #ffffff;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* ===== HEADER ===== */
.site-header {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  padding: 10px 20px;
}

.site-logo {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-right: 12px;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

/* ===== LAYOUT ===== */
.layout {
  display: flex;
  align-items: flex-start;
  padding: 0px 20px;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 220px;
  background-color: var(--sidebar-bg);
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  margin-right: 24px;
  height: auto; /* grows only to content */
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-nav a {
  display: block;
  padding: 4px 12px;
  color: var(--link-color);
  text-decoration: none;
  border: 1px solid var(--border-button-color);

  margin-bottom: 8px;
  transition: background 0.2s;
}

.sidebar-nav a span {
  text-decoration: underline;
}

.sidebar-nav a:hover {
  background-color: #3b3943;
}

/* ===== EXTERNAL LINKS ===== */
.sidebar-links {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sidebar-links a {
  display: block;
  padding: 4px 12px;
  color: var(--text-color);
  text-decoration: underline;
  border: 1px solid var(--border-button-color);
  transition: background 0.2s;
}

.sidebar-links a:nth-child(1) {
  background-color: #333333;

}

.sidebar-links a:nth-child(1):hover {
  background-color: #24292e;
}

.sidebar-links a:nth-child(2) {
  background-color: #0077b5;
}

.sidebar-links a:nth-child(2):hover {
  background-color: #005885;
}

.sidebar-links a:nth-child(3) {
  background-color: #D44638;

}

.sidebar-links a:nth-child(3):hover {
  background-color: #B23121;
}

/* ===== MAIN CONTENT ===== */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: var(--sidebar-bg);
  border: 1px solid var(--border-color);
}

.main-content a {
  color: var(--link-color);
  text-decoration: none;
}



/* ==== ABOUT PAGE ==== */
.content-wrapper {
  display: flex;
  flex-direction: horizontal;
  align-items: flex-start; /* keeps the top of text and image aligned */
  gap: 2rem; /* space between text and image */
}

.about-image {
  max-width: 250px; /* adjust as needed */
  height: auto;
  border-radius: 10px; /* optional: rounded corners */
  object-fit: cover;
}


/* ===== SOFTWARE STUFF ==== */

.projects{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.project-entry {
  border: 1px solid var(--border-button-color);
  margin: 10px;
  border-radius: 1px;
  width: 175px; 
  height: 100px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.project-title {
  background-color: #493B40;
  text-align: center;
  border-bottom: 1px solid var(--border-button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 30px;
}

.project-title h4 {
  margin: 0;
}


.project-description {
  padding: 5px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.project-description p {
  margin: 0;
}

.project-links {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  margin-top: auto;
} 

.project-links a:not(:last-child)::after {
  content: " | ";
  margin: 0 4px;
}
.project-links a {
  color: var(--link-color);
  text-decoration: none;
}
.project-links a:hover {
  color: var(--link-color-hover);
}

.project-links a:active {
  color: var(--link-color-active);
}

/* ===== CONTACT PAGE ===== */
.contact-article {
  flex: 1;
  border: 1px solid var(--border-color);
  padding: 20px;
}