<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <!-- Header -->
  <header class="site-header">
    <img src="/images/profilepic.jpg" alt="Logo" class="site-logo">
    <h1 class="site-title">Nikolai</h1>
  </header>

  <div class="layout">
    <!-- Sidebar -->
    <aside class="sidebar">
      <nav class="sidebar-nav">
        <a href="/">◇ <span>Home</span></a>
        <a href="{{ "about" | relURL }}">◇ <span>About</span></a>
        <a href="{{ "software" | relURL }}">◇ <span>Software</span></a>
        <a href="{{ "contact" | relURL }}">◇ <span>Contact</span></a>
      </nav>
        <div class="sidebar-links">
          <a href="https://github.com/nikolaitoonder" target="_blank">GitHub</a>
          <a href="https://twitter.com/homyie1" target="_blank">Twitter</a>
        </div>
    </aside>

    <!-- Main content -->
    <main class="main-content">
      {{ block "main" . }}{{ end }}
    </main>
  </div>
  <!-- Footer -->
  <footer class="site-footer">
    <p>&copy; {{ now.Year }} meow</p>
  </footer>
</body>
</html>

